/* hides the native tabs */
#TabsToolbar {
    visibility: collapse;
  }/* leaves space for the window buttons */
  #nav-bar {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
  }
